header {
	width: 100%;
	height: 72px;
	background: #f7323f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header > .content {
	width: 1024px;
	height: 64px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

header > .content > ul {
	list-style: none;
	display: flex;
}

header > .content > ul img {
	cursor: pointer;
	padding-top: 4px;
}

header > .content > ul > li {	
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 0;
	margin-left: 30px;
	line-height: 39px;
	height: 40px;
}

header > .content > ul > li:hover {	
	color: #ffffff;
	cursor: pointer;
}

.hidden {
	display: none;
}
header .li_seemore {
	position: relative;
}
.header_seemore {
	width: 184px;
	position: absolute;
	right: -68px;
	top: 38px;
	border-radius: 5px;
    padding: 24px;
    background: #fff;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
    box-sizing: border-box;
}

.header_seemore > ul {
	maring: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
}

.header_seemore > ul > li {
	margin-bottom: 5px;
	cursor: pointer;
}

header a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}
header .a_tag1:hover {
	color: #ffffff;	
}

header .a_tag2 {
	color: rgba(0,0,0,0.87);
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    