@charset "utf-8";

.mainBack {
	display: flex;
	justify-content: center;
	margin-top: -1px;
}
.mainBackImg {
	margin-top: 60px;
}

.mainMid {
	display: flex;
	justify-content: center;
}

.mainMidBox {
	width: 1600px;
	height: 250px;
	margin: 50px 0;
	display: flex;
	justify-content: center;
}

.midDiv {
	display: flex;
	justify-content: center;
}

.midMain {
	margin: 100px 200px;
	display: flex;
	justify-content: center;
}

.midMainDiv {
	margin: 0 150px;
}

.midMainTitle {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

.midMainContents {
	display: flex;
	justify-content: center;
}
.midMainText1 {
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	display: block;
	width: 350px;
}

.midMainText1 > a {
	text-decoration: none;
	color: inherit;
}
.midMainText2 {
	margin-left: 20px;
	display: block;
	width: 350px;
}
.midMainText2 > a {
	text-decoration: none;
	color: inherit;
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.footerTop>img {
	width: 1600px;
}

.footerText {
	display: flex;
	justify-content: center;
}

.footerText>div {
	width: 1600px;
}

.footerText img {
	margin: 10px 20px;
}

.TextAll {
	display: flex;
	justify-content: center;
}

.footerTextAll {
	width: 1600px;
}

.footerName ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 20px;
}

.footerName li {
	margin: 10px;
}

.footerName a {
	color: inherit;
	text-decoration: none;
}

.footerEnd {
	display: flex;
	justify-content: center;
}

.footerEnd2 {
	width: 1600px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	line-height: 2.7;
}

.mainSearch {
	width: 1000px;
	height: 300px;
	border: 1px solid black;
	position: absolute;
	display: flex;
	justify-content: center;
	margin-top: 200px;
	display: block;
	background-color: #FFD7B4;
}

/* .mainSearchMenu { */
/* 	display: flex; */
/* 	list-style: none; */
/* 	width: 100%; */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	background-color: #FFD7B4; */
/* } */

.mainSearchMenu a {
	color: inherit;
	text-decoration: none;
}

.mainSearchMenu li {
	width: 50%;
	align-items: center;
}

.tagSearch {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	background-color: #f7323f;
	height: 50px;
}

.advancedSearch {
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	height: 50px;
	padding-left: 20px;
	border-bottom: 1.5px solid #dadada;
}

