@charset "utf-8";

.findIdBody {
	width: 336px;
	height: 557px;
	margin: 100px auto 0 auto;
}
.logo {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.logo img {
	width: 112px;
	height: auto;
}
.findIdform input {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
}
.findIdButton {
	display: flex;
	justify-content: center;
}
.findIdButton > input {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	background-color: #FF3399;
	border: 1px solid #FF3399;
	border-radius: 4px;
	margin-top: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}