@charset "utf-8";

.findPasswordBody {
	width: 391px;
	height: 557px;
	margin: 100px auto 0 auto;
}
.logo {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.logo img {
	width: 112px;
	height: auto;
}
.title {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
}
.emailTitle {
	margin-bottom: 10px;
}
.emailCheck {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
}
.changePasswordInput {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	margin-top: 15px;
}
.changePasswordCheckInput {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
}
.findPasswordButton {
	display: flex;
	justify-content: flex-start;
}
.btn {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	background-color: #FF3399;
	border: 1px solid #FF3399;
	border-radius: 4px;
	margin-top: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.findPasswordform > div {
	display: flex;
	justify-content: flex-start;
}
.emailCheckBtn {
	width: 70px;
	height: 55px;
	box-sizing: border-box;
	border: 1px solid #dadada;
	color: white;
	border-radius: 4px;
	background-color: #dadada;
	margin-left: 5px;
}
.passwordMsg {
	margin-bottom: 15px; 
}

.on {
	width: 70px;
	height: 55px;
	box-sizing: border-box;
	border: 1px solid #FF3399;
	color: white;
	border-radius: 4px;
	background-color: #FF3399;
}
.blue {
	color: blue;
}
.red {
	color: red;
}
.hidden {
	display: none;
}
