@charset "utf-8";
a {
	color: inherit;
}
body {
	display: flex;
	justify-content: center;
}
input {
	width: 24px;
	height: 24px;
	box-sizing: border-box;
}
span {
	display: flex;
	align-items: center;
	margin-right: 5px;
}
.agreeForm div {
	display: flex;
}
.title {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
}
.termsBody {
	width: 336px;
	height: 557px;
	margin: 100px auto 0 auto;
}
.termsBody a {
	margin-left: 10px;
}
.termsBody div {
	margin: 40px 0;
}
.allAgree a {
	font-weight: bold;
	text-decoration: none;
}
.necessary {
	color: red;
}