	.mainAreaSelect {
		width: 450px;
		height: 42px;
		margin-left: 41px;
		border: 1px solid rgba(0,0,0,0.08);
		border-radius: 5px;
		color: #0000008F;
 		font-size: 18px;
 		font-weight: normal;
	}

	.detailSearch{
		text-align: center;
		display: block;
	}
	
	.mainH2{
	    color: #000000DE;
	    height: 18px;
	    font-family: 'Malgun Gothic';
	    margin: 0px 24px;
	    margin-bottom: 10px;
	    margin-top: 12px;
	}
	
	.mainCheckIn, .mainCheckOut {
		display: flex;
		margin: 0 auto;
	}
	
	.mainAreaFilter {
		display: flex;
/* 		margin: 0 auto; */
		vertical-align: middle;
		margin-right: 79px;
		margin-left: 49px;
	}
	
	.mailFilterDiv1{
		display: flex;
		margin-top: 34px;
	}
	
	.mainFilterDiv2 {
		display: flex; 
		margin-top: 70px;
	}
	
	
	
	.filterCalendarOut, .filterCalendarIn {
		width: 375px;
		height: 480px;
	/* 	border: 1px solid black; */
		background-color: white;
		box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
		border-radius: 5px;
		position: absolute;
	}
	
	.filterCalendarOut > table > thead{
		width: 375px;
		display: table-header-group;
	    vertical-align: middle;
	    border-spacing: 0;
	    background-color: #F8F8F8F8;
	}
	
	 .todayCalendarOut, .todayCalendarIn{
 		width: 246px;
 		height: 40px;
 		border: 1px solid rgba(0,0,0,0.08);
 		border-radius: 5px;
 		margin: 0px 24px;
 		margin-top: 30px;
 		background-color: #FAFAFAB3;
 		background: url("https://image.goodchoice.kr/images/web_v3/ico_cal_2.png"), url(//image.goodchoice.kr/images/web_v3/ico_arr_down.png);
 		background-size: 32px auto, 24px auto;
 		background-position: 5px, right 8px bottom 50%; 
 		background-repeat: no-repeat;
 		cursor: pointer;
 	}
 	
 	.calendarSubmitOut, .calendarSubmitIn {
		width: 343px;
		border: 1px solid #FF2B5C;
		background-color: white;
		color: #FF2B5C;
		margin: 0 auto;
		height: 60px;
		border-radius: 5px;
		margin-top: 5%;
		margin-left: 5%;
		cursor: pointer;
	}
	
	.calendarYearOut , .calendarYearIn{
		margin: auto;
	}
	
	.calendarNextOut, .calendarNextIn{
		border: none;
		width: 24px;
	    height: 24px;
	    display: inline-block;
		background: url(//image.goodchoice.kr/images/web_v3/ico_arr_gt_4.png) 50% 50% no-repeat;
	    background-size: 12px auto;
	    margin-top: 5%;
	    cursor: pointer;
	    z-index: 1;
	}
	
	.calendarPrevOut, .calendarPrevIn{
		border: none;
		width: 24px;
	    height: 24px;
	    display: inline-block;
		background: url(//image.goodchoice.kr/images/web_v3/ico_arr_lt_4.png) 50% 50% no-repeat;
	    background-size: 12px auto;
	    margin-top: 5%;
	    cursor: pointer;
	}
	
	.filterCalendarIn, .filterCalendarOut {
		margin-top: 84px;
	}
	
	.mainFilterSubmit {
	 	background-color: #F2074C;
	 	border: 0.5px solid #F2074C;
	 	color: white;
	 	width: 227px;
	 	height: 40px;
	 	border-radius: 5px;
	 	cursor: pointer;
	 }
	 
	 .todayAndTomorrowIn, .todayAndTomorrowOut {
	 	color: #0000008F;
 		font-size: 18px;
 		font-weight: normal;
 
		margin-top: 7px;
	
	 }
	 
	
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	
 	