#manager {
	width: 55%;
	min-width: 930px;
	box-sizing: border-box;
	margin: 85px auto;
}
#userlist {
	float: right;
	margin-right: 160px;
	margin-top: 50px;
	width: 250px;
	height: 300px;
	overflow-y: scroll;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
}
#userlist .user {
	border-bottom: 1px solid black;
	padding: 5px;
	font-weight: bold;
}
#userlist .user:hover {
	color: red;
	cursor: pointer;
}
#manager > .piechart {
	width: 500px;
	height: 400px;
}
.lineColumnchart > button {
	margin-left: 63px;
	cursor: pointer;
}
.manager-msg {
	width: 250px;
    position: absolute;
    left: 42%;
	top: 40%;
    z-index: 999;
    box-sizing: border-box;
}
.manager-msg > .msg-header {
    z-index: 1000;
    cursor: move;
    background-color: #2196F3;
  	color: #fff;
  	padding: 10px;
  	display: flex;
  	justify-content: space-between;
}
.manager-msg .close {
	font-weight: bold;
}
.manager-msg .close:hover {
	cursor: pointer;
	z-index: 1001;
	color: red;
}
.ma-content-wrap {
	height: 350px;
	background: rgb(239, 239, 239);
}
.ma-content-wrap > .ma-content {
	height: 93%;
	border-radius: 5px;
	overflow-y: scroll; 
}
.ma-content-wrap input {
	width: 77%;
}


.manager-msg .msgline {
	height: 35px;	
	display: flex;
	justify-content: flex-end;
	padding: 13px;
}
.manager-msg .msglineL {
	height: 35px;	
	display: flex;
	justify-content: flex-start;
	padding: 13px;
}
.manager-msg .msgline > .wsSend {
	background-color: skyblue;
    border-radius: 10px;
    padding: 9px;
    font-size: 13px;
}
.manager-msg .msglineL > .wsReceive {
	background-color: #ffff80;
    border-radius: 10px;
    padding: 9px;
    font-size: 13px;
}
    