@charset "utf-8";

body {
	display: flex;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: center;
}

.title > img {
	width: 100px;
	height: auto;
}

.titleText {
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.informationInput > div {
	margin-top: 20px;
}

.informationInput input {
	width: 336px;
	height: 56px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #dadada;
	margin-bottom: 10px;
	padding: 10px;
}

.btn {
	width: 336px;
	height: 56px;
	background-color: white;
	font-size: 16px;
	color: white;
	box-sizing: border-box;
	border: #FF3399;
	border-radius: 4px;
}

.on {
	width: 336px;
	height: 56px;
	background-color: #FF3399;
	font-size: 16px;
	color: white;
	box-sizing: border-box;
	border: #FF3399;
	border-radius: 4px;
}

.hidden {
	display: none;
}

.textColorRed {
	color: red;
}
.textColorBlue {
	color: blue;
}
