.pay_main {
	width: 55%;
	min-width: 930px;
	box-sizing: border-box;
	margin: 85px auto;
	display: flex;
}
.pay_left {
	width: 65%;
	padding-right: 130px;
	margin-top: 10px;
}
.pay_main strong {
	color: rgba(0,0,0,0.4);
	font-size: 18px;
	font-weight: 400;
}
.book_info {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08); 
	margin-bottom: 50px;
}
.book_info div {
	margin-bottom: 8px; 
}
.book_info .input_text {
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	padding: 26px 20px 20px 20px;
	font-size: 18px;
	margin-bottom: 40px;
}
.book_info .input_text::placeholder {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.3);
}
.book_info h3 {
	margin-bottom: 35px;
}
.empty_login_text {
	width: 80%;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	padding: 26px 20px 20px 20px;
	font-size: 18px;
}
.empty_login_text::placeholder {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.3);
}
.sendForm .sendBtn, .authBtn {
	width: 18%;
	min-width: 103.44px;
	height: 48px;
	border-radius: 5px;
	background-color: #cccccc;
	color: white;
	font-size: 13px;
	border: 1px solid #cccccc; 
	margin-left: 10px;
	cursor: pointer;
}
.book_info .sendForm, .authForm2 {
	display: flex;
}
.book_info .authForm2 > input {
	margin-bottom: 8px;
}
.book_info .authMsg {
	margin-bottom: 60px;
}

.pay_left .discount {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08); 
	margin-bottom: 50px;
}
.pay_left .discount > h3 {
	margin-bottom: 35px;
}
.discount > .total, .point {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.discount > .total > .price {
	font-weight: bold;
	font-size: 18px;
}
.discount > .point {
	margin-bottom: 60px;
}
.point > .pointBtn {
	padding: 0 14px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    background: #fafafa;
    font-size: 16px;
    color: rgba(0,0,0,.56);
    cursor: pointer;
}
.point > div > input {
	margin-left: 4px;
    margin-right: 4px;
    padding: 8px 14px 8px 16px;
    width: 132px;
    height: 100%;
    background: none;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    color: rgba(0,0,0,.56);
    font-size: 18px;
    text-align: right;
    box-sizing: border-box;
}
.point b {
	font-size: 18px;
}
.pay_left .method > select {
	font-size: 18px;
    color: rgba(0,0,0,.56);
    cursor: pointer;
    height: 48px;
    padding: 0 12px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 4px;
    width: 288px;
    background: #fafafa url(https://image.goodchoice.kr/images/web_v3/ico_arr_down.png) right 10px top 50% no-repeat;
    background-size: 25px auto;
    appearance:none;
}
.pay_left .method {
	margin-bottom: 30px;
}
.pay_left .agree {
	font-size: 16px;
}
.pay_left .agree > div { 
	padding: 6px 0 6px 0;
	color: rgba(0,0,0,.56);
	display: flex;
	align-items: center;
}
.pay_left .agree > div > label {	
	cursor: pointer;
	text-decoration: underline;
	display: flex;
	align-items: center;
}
.pay_left .agree > div:nth-child(1) {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.pay_left .agree > div:nth-child(1) > label {
	text-decoration: none;
}
.pay_left .agree span {
	text-decoration: none;
	color: #e61c51;
	cursor: pointer;
}
.pay_left .agree input {
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-right: 10px;
}

/* right */
.pay_right {
	width: 35%;
	height: 735px;
	background-color: rgb(250,250,250);
	margin-top: 28px;
	margin-right: 10px;
	box-sizing: border-box;
}
.pay_right > .room_info {
	margin: 39px 24px 0 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.pay_right > .total_price {
	margin: 39px 24px 0 24px;
}
.pay_right .info_text {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 28px;
}
.pay_right > .total_price b {
	font-size: 18px;
}
.pay_right > .total_price > div:nth-child(1) {
	font-size: 16px;
	margin-bottom: 14px;
}
.pay_right > .total_price .price {
	font-size: 24px;
    font-weight: 700;
    color: #e61c51;
}
.pay_right > .total_price > ul {
	list-style: none;
	padding: 0;
}
.pay_right > .total_price > ul > li {
	margin-bottom: 2px;
    padding-left: 16px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_bul.png) 0 0 no-repeat;
    background-size: 14px auto;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0,0,0,.72);
}
.pay_right > .total_price > ul span {
	color: #e61c51;
}
.pay_right > .pay {
	width: 100%;
    height: 56px;
    border: none;
    font-size: 15px;
    line-height: 56px;
    color: #fff;
    text-align: center;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    background: linear-gradient( to right, rgba(255, 0, 85, 1) 1%, rgba(230, 34, 67, 1) 100% );
    margin-top: 60px;
}
.book_info .phoneMsg {
	padding-top: 5px;
    font-size: 14px;
    color: rgb(230,28,81);
} 
.book_info .sendMsg {
	margin-top: 60px;
}