@charset "utf-8";
/* userinfo */
a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
button{
cursor: pointer;
}
li{
	list-style: none;
}
h2{
font-size: 36px;
}

.content{
width: 55vw; 
min-width: 930px; 
box-sizing: border-box;
display: flex;
margin-top:25vh;
margin-left: 15vw;
justify-content: flex-start;
}
.hidden{
display: none;
}
.userInfo{
display: block;
box-sizing: border-box;
margin: 0 31px 0 0;
padding: 130px 0 0;
width: 60vw
}

.userInfo strong:nth-child(1){
	padding: 0 0 43px 0;
	font-weight: bold;
	font-size: 18px;
}

b{
	font-weight: normal;
	font-size: 18px;
}

#nickname, #name, #phone{
	margin-bottom: 5vh;
}

.leftmenu > nav{
width: 238px;
height: 238px;
padding-left: 31px;
}
.leftmenu nav ul li{
margin-bottom: 26px;
color: #0000008F;
font-size: 18px;
}

.renameBTN1, .renameBTN2, .renameBTN3{
width: 300px;
height: 42px;
background-color: #FFFFFF;
border-radius: 4px;
border: solid 1px #ccc;
justify-content: flex-start;
}


.userInfo > div{
display: block;
}
.username{

}
.username span{
color: #0000008F;
}
.modify > p:nth-child(1){
width: 374px;
}
.modify  p > input{
width: 350px;
height: 45px;
border: solid 1px #ccc;
border-radius: 4px;
}

.secession {
display: flex;
}
.kind{
	font-size: 15px;
	padding-bottom: 42px;
	color: rgba(0,0,0,0.32);
	font-weight: bold;
}
.userInfo > strong:first-child {
	padding-bottom: 43px;
}

.warning{
   padding-bottom: 8px;
   font-size: 12px;
   color: rgba(0,0,0,0.56);
}

#phone{
	padding-bottom: 5vh;
	border-bottom: 1px solid darkgray;
}
.secession{
	border-top: 1px solid darkgray;
}
#change1, #change2, #change3{
	width: 140px;
	height: 40px;
	background-color: #F7323F;
	color:white;
	border-radius: 4px;
	border: solid 1px #ccc;
}

#cancelBTN1, #cancelBTN2, #cancelBTN3{
	width: 140px;
	height: 40px;
	background-color: #FCF6F5;
	border-radius: 4px;
	border: solid 1px #ccc;
}


/* ν¬μΈνΈ */

.point{
	display: block;
	box-sizing: border-box;
	width: 60vw
}

#pointList{
	padding: 0;
}
#pointList li{
	padding: 38px 0 35px 0;
	display: flex;
	justify-content: space-between;
    text-align: -webkit-match-parent;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.availablePoints{
	border-bottom: 1px solid darkgray;
}
.secession > button{
	width: auto;
	height: 45px;
	padding: 0 12px;
	border: 1px solid rgba(0,0,0,.08);
	border-radius: 4px;
	background: #fafafa;
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,.56);
}
